%a.sidebar-brand.d-flex.align-items-center.justify-content-center
  %b.navbar-brand=  t(".management")
  %ul.navbar-nav.mr-auto
    %li.nav-item
      = link_to t(".users"), users_path, class: "nav-link"
    %li.nav-item
      = link_to t(".devices"), devices_path, class: "nav-link"




